




header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
    background-color: white;
    height: 10rem;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
    
}
.input{
    border-color: cadetblue;
    border: 3px solid ;
    border-radius: 10px;
    
}




.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}


  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
body{
    background-color: #3FFBA3;
}
  
#calculator{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem;
    background-color: aqua;
    height: 10rem;
    border: black 2px solid;

}

#answer{
    margin:2rem;
    border: black 2px solid;
    padding: 10px;
    background-color: blanchedalmond;
    border-radius: 10px;
    
}
#number-pad{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
}
.number-button{
    margin: 10px;
    border: black solid 2px;
}
#calculate{
    margin: 10px;
    color: rgb(22, 186, 192);
    border: rgb(14, 58, 59) solid 3px;
    border-radius: 10px;
}
  
