




header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
    background-color: white;
    height: 10rem;
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
    
}





.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}


  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
body{
    background-color: #3FFBA3;
}
  
#calculator{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem;
    background-color: aqua;
    height: 10rem;
    border: black 2px solid;

}

#answer{
    margin:2rem;
}


  
